@font-face {
  font-family: pressStart;
  src: url(./PressStart2P-Regular.ttf);
}
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main-canvas{
  position: absolute;
  /* width: 100%;
  height: 100%; */
}